

body {
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-wrap: wrap;
    
}


Header {
    position: relative;
    width:1300px;
    height:350px;
    background-image: url(https://images.pexels.com/photos/1835712/pexels-photo-1835712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.9
    
}

.HeaderText {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size:70px;
    letter-spacing: 20px;
}


.AppDiv {
    font-family: Arial, Helvetica, sans-serif;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

 .CardDiv {
   
    margin:40px;
    flex-direction: row;
    flex: 1 0 25%;
    justify-content: space-evenly;
    
}
 


input {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin:20px;
}

.btn-nav {
    border-radius: 25px;
    padding: 12px;
    border:none;
   
}

.btn {
    background: rgb(94, 187, 187);
    border:none;
    margin: 5px;
}

.navbar-brand {
    background: rgb(94, 187, 187);
    border-radius: 25px;
    padding: 10px;

}

.postHeaderText {
    font-size: 35px;
    text-shadow: 2px;
    color: rgb(61, 61, 61);
}
.adminPostForm {
    margin-right:40px;
    height:400px;
    font-size: 15px;
    border: 2px solid rgb(228, 224, 224);
    box-shadow: 5px 10px rgb(228, 224, 224);
    border-radius: 25px;
    padding: 10px;
}

.UpdateProductsDiv {
    width: 600px;
    font-size: 15px;
    border: 2px solid rgb(228, 224, 224);
    box-shadow: 5px 10px rgb(228, 224, 224);
    border-radius: 25px;
    padding: 10px;
}


.AppDivAdminProfile {
    margin-top:40px;
    margin-left:200px;
    margin-right:200px;
    display:flex;
    flex-direction: row;
   
}

.UserLoginDiv {
    margin-top:40px;
    display:flex;
    flex-direction: row;
    
    
    
    
    
}

.UserLoginForm {
    border: 2px solid rgb(228, 224, 224);
    box-shadow: 5px 10px rgb(228, 224, 224);
    border-radius: 25px;
    padding: 20px;
    margin-bottom:30px;
}

.UserResetDiv {
    border: 2px solid rgb(228, 224, 224);
    box-shadow: 5px 10px rgb(228, 224, 224);
    border-radius: 25px;
    padding: 20px;
    margin-bottom:30px;
}

.ContactFormDiv {
    border: 2px solid rgb(228, 224, 224);
    box-shadow: 5px 10px rgb(228, 224, 224);
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom:30px;
}

.myBookingsDiv {
    border: 2px solid rgb(228, 224, 224);
    box-shadow: 5px 10px rgb(228, 224, 224);
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom:30px;
}

.myMessageDiv {
    border: 2px solid rgb(228, 224, 224);
    box-shadow: 5px 10px rgb(228, 224, 224);
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom:30px;
}

.btnDelete {
    background: rgb(243, 26, 26);
    position: absolute;
    top:11px;
    right: 180px;
}

.btnLogout {
    position: absolute;
    top:11px;
    right: 80px;
}

